MASTER_CATALOG_POSTGRES_DSN=postgres://postgres:postgres@catalog-master-postgres:5432/catalog-db?sslmode=disable
REPLICA_CATALOG_POSTGRES_DSN=postgres://postgres:postgres@catalog-replica-postgres:5432/catalog-db?sslmode=disable

MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin